<app-navbar></app-navbar>

<div class="admin-layout d-flex">
  <div class="sidebar-content">
    <div class="sidebar-header">
      <h3>Admin Dashboard</h3>
    </div>

    <div class="sidebar-menu">
      <a
        routerLink="/admin/examlist"
        routerLinkActive="active"
        class="menu-item"
      >
        <i class="bi bi-house-door"></i>
        <span>Dashboard</span>
      </a>

      <a
        routerLink="/admin/profile"
        routerLinkActive="active"
        class="menu-item"
      >
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </div>
  </div>
  <main class="p-4 flex-grow-1">
    <router-outlet></router-outlet>
  </main>
</div>

<app-footer></app-footer>
