.form-group {
  margin-bottom: 1.25rem;
}
.links {
  color: #000059;
}
.links:hover {
  color: #fff;
}
.text-link {
  color: #000059;
  text-decoration: none;
  font-weight: bold;
}
button {
  width: 100%;
  padding: 14px;
  background-color: #000059;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

button:hover {
  background-color: #000039;
  color: white;
  transform: translateY(-2px);
}
