/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #000039;
  --accent-color: #007bff;
  --bg-color: #f9f9f9;
}

body {
  /* font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
}

button:hover {
  background-color: #1a1a8f;
  color: #fff;
}
